/* VARIÁVEIS */
:root {
	--rosa: #D8315B;
	--branco: #FFFAFF;
	--verde: #1B9AAA;
	--cinza: #EFEFEF;
	--amarelo: #FFEBC8;
	--preto: #13293D;
}
/* FIM VARIÁVEIS */


/* INÍCIO PADRÃO */
* {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	color: var(--branco);
}

a {
	text-decoration: none;
	font-size: calc(5px + 3vmin);

	
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	width: 20%;
	padding: 0%;
	border: 0px;
	margin: 0%;
	
}

h1 {
	margin: 0px;
	padding: 0px;
}
p {
	color: var(--preto);
}

/* FIM INÍCIO PADRÃO */

/* CONFIGURAÇÕES INICIAIS */

.Inicio {
	text-align: center;
	margin-bottom: 0%;
	background-color: var(--branco);
	width: 100vw;
	height: 100vh;
	font-size: calc(10px + 2vmin);
}

/* FIM CONFIGURAÇÕES INICIAIS */

/* DIV MAIS A ESQUERDA DO SITE */

.Logo-esquerda{
	position:relative;
	width: 65vw;
	height: 100vh;
	background-color: var(--verde);
	float: left;

	align-items: center;
	justify-content: center;
}


.Logo {
	position: relative;
	top: 20%;
	height: 20%;
	font-size: calc(10px + 10vmin);
	display: block;
}

#Subescrito{
	color: var(--branco);
	font-size: calc(8px + 2vmin);
}

/* FIM DIV MAIS A ESQUERDA DO SITE */

/* DIV MAIS A DIREITA DO SITE */

.Logo-direita{
	position: relative;
	width: 35%;
	height: 100vh;
	left: 0px;
	background-color: var(--branco);
	float: left;

	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.Formulario {
	position: relative;
	top: 10%;
}

.Login{
	position: relative;
	width: 85%;
	height: 35vh;
	border-radius: 30px;
	background-color: var(--amarelo);
}

#nome, #senha {
	border-radius: 30px;
	margin: 2%;
	height: calc(6px + 5vmin);
	width: calc(20px + 40vmin);
	padding-left: 20px;
}

.Botao {
	height: calc(6px + 5vmin);
    width: calc(25px + 20vmin);
}
input, select, textarea{
    color: var(--preto);
}
/* FIM DIV MAIS A DIREITA DO SITE */


/* BARRA LATERAL - MENU */

.Barra-Lateral{
	position: fixed;;
	width: 15%;
	height: 100vh;
	background-color: var(--verde);
	float: left;
	font-size: calc(10px + 4vmin);
	align-items: center;
	justify-content: center;
}

/* FIM BARRA LATERAL */

/* BARRA LATERAL - MENU */

.Logo-Solicitar{
	max-width: 100%;
	width: 35%;
	padding: 0%;
	border: 0px;
	margin: 0%;

}

#Subescrito-Solicitar {
	color: var(--branco);
	font-size: calc(6px + 1vmin);
}

.menu {
	top: 2%;
}

.lista {
	top: 8%;
	width: 100%;
}

.config-top {
	display: block;
	position: relative;
}

.alinha-menu {
	display: table-cell;
	width: calc(100px + 20vmin);
	height: calc(60px + 3vmin);
	vertical-align: middle;
	padding: 10px;
}

.colorido {
	background-color: var(--rosa);
}

/* FIM BARRA LATERAL - MENU */

/* ABA DIREITA DAS PÁGINAS */
.Geral {
	text-align: center;
	margin-bottom: 0%;
	background-color: var(--branco);
	width: 100%;
	height: 100%;
	font-size: calc(10px + 2vmin);
}

.Direita{
	position: relative;
	width: 85%;
	height: 100%;
	left:0px;
	float: right;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

/* FIM ABA DIREITA DAS PÁGINAS */

/* EMPRÉSTIMOS SOLICITADOS */

.Solicitacao{
	top: 15%;
	bottom: 10;
	display: block;
	position: relative;
	width: 75%;
	height: 150px;
	margin: 10px;
	border-radius: 30px;
	background-color: var(--amarelo);
	
}
.Info {
	display: table-cell;

	width: 60%;
	height: 100%;

	float: left;

	text-align: left;
	vertical-align: middle;
	
	padding: 20px;
	font-size: 18px;
}

.Valores {
	display: flex;
	position: relative;
	float: left;
}
.Informacoes{
	display: flex;
	position: relative;
	float: left;

	font-weight: bold;
	color: var(--rosa);

}
.Confirmar {
	display: table-cell;

	position: relative;
	float: right;
	vertical-align: middle;
	
	width: 40%;
	height: 100%;
}

.BotaoConfirmar {
	width: 100%;
	height: 50%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/* FIM EMPRÉSTIMOS SOLICITADOS */


/* EMPRESTAR LIVROS */

.Emprestar{
	top: 15%;
	bottom: 10;
	display: block;
	position: relative;
	width: 75%;
	height: 200px;
	margin: 10px;
	border-radius: 30px;
	background-color: var(--amarelo);
	
}

.InfoSol {
	display: table-cell;

	width: 60%;
	height: 60%;

	float: left;

	text-align: left;
	vertical-align: middle;
	
	padding: 20px;
	font-size: 18px;
}

.ConfirmarSol {
	display: table-cell;

	position: relative;
	float: right;
	vertical-align: middle;
	
	width: 40%;
	height: 60%;
}


/* FIM EMPRESTAR LIVROS */

/* USUÁRIOS */
.BotaoInserir {
	width: 50%;
	height: 20px;
	display: -webkit-flex;
	display: flex;
	float: left;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.TituloUsuario {
	text-align: center;
	margin-bottom: 0%;
	margin-top: 50px;
	color: var(--preto);
	width: 100%;
	height: 50%;
	font-size: calc(20px + 2vmin);
}

.PainelUsuario {
	top: 15%;
	bottom: 10;
	display: block;
	position: relative;
	width: 600px;
	height: 250px;
	margin: 10px;
	border-radius: 30px;
	background-color: var(--amarelo);
}

.PainelInserirUsuario {
	top: 10%;
	bottom: 10;
	display: block;
	position: relative;
	width: 600px;
	height: 550px;
	margin: 10px;
	border-radius: 30px;
	background-color: var(--amarelo);
}

.TituloInserirUsuario {
	text-align: center;
	margin-bottom: 0%;
	margin-top: 50px;
	color: var(--preto);
	width: 100%;
	height: 50px;
	font-size: calc(20px + 2vmin);
}

.FormularioUsuario {
	position: relative;
	width: 600px;
	left: 0px;

	float: left;

	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.formularioLargo {
	border-radius: 30px;
	margin: 2%;
	height: 40px;
	width: 450px;
	padding-left: 20px;
}
.formularioCurto {
	border-radius: 30px;
	margin: 2%;
	height: 40px;
	width: 215px;
	padding-left: 20px;
}

.PainelBuscarUsuario {
	top: 10%;
	display: block;
	position: relative;
	width: 600px;
	height: 300px;
	margin: 10px;
	border-radius: 30px;
	background-color: var(--amarelo);
}

.PainelUsuarioBuscado {
	width: 600px;
	height: 200px;
	border-radius: 30px;
	background-color: var(--amarelo);
}

/* FIM USUÁRIOS */